footer {
    background: black;
    text-align: center;
    height: auto;
    font-size: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }