<h3>Hola!</h3>
<div class="acerca">
  <p>
    Hola. Mí nombre es Joaquín, trabajo desde los 16. He pasado por distintos rubros y actividades, pero en todas
    sobresali por ser proactivo, dinámico y responsable.
    Lo que no se, lo aprendo para brindar un mejor servicio. Consideró que uno tiene que aprender algo nuevo todos los
    días y mejorar nuestro desempeño laboral.
    En esta etapa de mí vida me encuentro estudiando programación ya que lo considero desde siempre algo asombroso y muy
    intrigante. Y no voy a parar hasta ser un programador Sennior o más.
    Muchas gracias por leer! Te saluda, Joaquín Nieto</p>
  <p>
    Hi, my name is Joaquín and I'm new in the programming world! My main attributes are responsibility, being
    self-taught and proactive. What I don't know, I research and learn. I believe that in the computer world there are
    no limits to learn and that's why I decided to be part of this new world that is coming up. Thank you very much for
    taking the time to read it and I invite you to meet me and see what I'm capable of!</p>

</div>
